.collection-preview {
    display: flex;
    flex-direction: column;
    margin: 0 0 3%;
  
    .title {
      cursor: pointer;
      &:hover{
        color: #666;
        &:after{
          content: "+";
        }
      }
      font-size: 1.8em;
    }
  
    .preview {
      @media screen and (max-width: 700px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
      }
      display: flex;
      justify-content: space-between;
    }
    border-bottom: thin solid #666;
  }
  