.cart-dropdown {
    position: absolute;
    height: 40vw;
    width: 25vw;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: white;
    top: 10%;
    right: 5%;
    z-index: 5;
  
    .cart-items {
      height: 75%;
      display: flex;
      flex-direction: column;
      overflow: auto;
    }
  
    button {
      margin-top: auto;
    }
  }
  