.cart-item{
    display: flex;
    margin-bottom: 5%;

    .image {
        margin: 0;
        width: 10vw;
        img {
            width: 100%;
        }
    }

    .details {
        p {
            margin-top: 0;
        }
        width: 12vw;
        font-size: .9em;    
        margin-left: 5%;
        text-align: left;
        .quantity {
            margin-top: 0;
        }
    }
}