.cart-item{
    display: flex;
    margin-bottom: 5%;

    .image {
        margin: 0;
        width: 10vw;
        img {
            width: 100%;
        }
        @media screen and (max-width: 700px){
            width: 20vw;
        }
    }

    .details {
        p {
            margin-top: 0;
        }
        width: 12vw;
        font-size: .9em;    
        margin-left: 5%;
        text-align: left;
        .quantity {
            margin-top: 0;
        }
    }

    @media screen and (max-width: 700px){
        flex-direction: column;
        margin: 0 1%;
    }
}